* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    list-style: none;
    color: #222;
}

:root {
    --bgRounded: rgba(230, 230, 230, 0.5);
    --bgDark: rgba(200, 200, 200, 0.8)
}

body {
    min-height: 100vh;
    background-image: url(./img/background.jpg);
    padding: calc(0.9vw + 6.7px) calc(1.4vw + 10px);
    animation: bgAnimation 1000s infinite linear;
}

@keyframes bgAnimation {
    0%{
        background-position: top left;
    }
    25%{
        background-position: top right;
    }
    50%{
        background-position: right bottom;
    }
    75%{
        background-position: left bottom;
    }
    100%{
        background-position: top left;
    }
}

.loader {
    display: none;
    height: calc(0.6vw + 4.7px);
    --c: no-repeat linear-gradient(#000 0 0);
    background: var(--c), var(--c), #fff;
    background-size: 60% 100%;
    animation: l16 3s infinite;
  }
  @keyframes l16 {
    0% {
      background-position: -150% 0, -150% 0;
    }
    66% {
      background-position: 250% 0, -150% 0;
    }
    100% {
      background-position: 250% 0, 250% 0;
    }
  }

header {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.rounded {
    padding: 5px;
    margin-bottom: calc(0.3vw + 6px);
    border-radius: calc(0.3vw + 6px);
    background-color: var(--bgRounded);
}

h1 {
    font-size: calc(1.6vw + 9.3px);
}

nav {
    display: flex;
    align-items: center;
    gap: calc(0.3vw + 6px);
    padding: calc(0.3vw + 6px);
    font-size: calc(0.6vw + 6.7px);
}

.darkBg {
    padding: 5px;
    border-radius: calc(0.3vw + 6px);
    background-color: var(--bgDark);
}

.active {
    background-color: orange;
    color: white;
    border-radius: calc(0.3vw + 6px);
    font-weight: calc(13.9vw + 500px);
    padding: calc(0.3vw + 6px) calc(0.9vw + 6.7px);
}

#themeChange {
    width: calc(1.4vw + 30px);
    height: calc(1.4vw + 30px);
    cursor: pointer;
    transition: all 0.3s linear;
}

.search {
    display: flex;
    gap: calc(0.6vw + 0.7px);
}

.search input {
    flex-grow: 1;
    border: none;
    padding: 0 10px;
    font-size: calc(0.6vw + 10px);
    border-radius: calc(0.3vw + 6px);
    outline: none;
    background-color: rgba(180,180, 180, 0.8);
}

#searchBtn {
    font-size: calc(0.6vw + 10px);
    cursor: pointer;
    border: none;
    padding: calc(0.3vw + 6px) calc(0.9vw + 6.7px);
}

.main {
    display: none;
}

.movieTitle {
    display: none;
    text-align: center;
    font-size: calc(0.8vw + 12px);
    margin-bottom: calc(0.6vw + 4px);
}

.movie {
    display: none;
    justify-content: space-between;
    gap: 0 calc(0.6vw + 4px);
    margin-bottom: calc(0.6vw + 4px);
}

.movieImg {
    width: calc(11.1vw + 240px);
    height: calc(25.9vw + 226.7px);
    background-image: url(./img/film1.jpg);
    border-radius: calc(0.6vw + 4px);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.movieDescription {
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: calc(0.5vw + 5.3px);
}

.desc {
    display: flex;
    background-color: rgba(73, 60, 60, 0.1);
    padding: calc(0.5vw + 5.3px);
    border-radius: calc(0.6vw + 4px);
}

.desc p {
    width: 50%;
    font-size: calc(0.8vw + 3.6px);
    font-weight: bold;
}

.similarMovies {
    display: none;
    grid-template-columns: repeat(4, 1fr);
    gap: calc(1.9vw + 3.3px) calc(1.9vw + 3.3px);
}

.favoriteMovies {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: calc(1.9vw + 3.3px) calc(1.9vw + 3.3px);
}

.similarCard {
    background-image: url(./img/film2.jpg);
    height: calc(25.9vw + 226.7px);
    border-radius: calc(0.7vw + 5.3px);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    position: relative;
    align-items: flex-end;
}

.similarCard p {
    width: 100%;
    color: #fff;
    background-color: rgba(230, 230, 230, 0.3);
    font-size: calc(1vw + 9.3px);
    text-align: center;
    padding: calc(0.9vw + 6.7px) calc(1.9vw + 13.3px);
    border-radius: 0 0 calc(0.7vw + 5.3px) calc(0.7vw + 5.3px);
}

.similar {
    background-image: url(./img/favBtn.svg);
    width: calc(2.8vw + 20px);
    height: calc(2.8vw + 20px);
    position: absolute;
    top: calc(1.3vw + 1.3px);
    left: calc(1.3vw + 1.3px);
    background-color: rgba(230, 230, 230, 0.3);
    background-repeat: no-repeat;
    background-position: center;
    background-size: calc(2.3vw + 16.7px);
    border-radius: calc(0.6vw + 4px);
    cursor: pointer;
}

.similar.star {
    background-color: white;
}

.dark .rounded {
    background-color: rgba(130, 130, 130, 0.5);
}

.dark .darkBg {
    background-color: rgba(100, 100, 100, 0.8);
}

.dark #themeChange {
    transform: rotate(180deg);
    filter: invert(100%);
}

@media (max-width: 660px) {
    .similarMovies {
        grid-template-columns: repeat(2, 1fr);
    }

    .favoriteMovies {
        grid-template-columns: repeat(2, 1fr);
    }
}